<header>
       <%= link_to logo, root_path %>
        <nav class="round">
         <ul>
           <li><%= link_to_unless_current "Home", root_path %></li>
           <li><%= link_to_unless_current "Help", help_path %></li>
           <li><%= link_to_unless_current "Sign in", '#' %></li>
         </ul>
        </nav>
</header>